.Brand{
    font-family: 'Delicious Handrawn', cursive;
    display: inline;
        text-align: top;
        font-size: 60px;
        /* text-shadow: 2px 5px 5px #1b1b1b; */
}
/*navbar starts here*/
.logo{
    padding-left: 15px;
    margin-top: 15px;

}

.about{
    background-color: #d99ace;
}

.navbar{
    /* background-color: #d99ace; */
    display: flex;
    position: fixed;
    top: -40px;
    width: 100%
   
    
}

.block {
    height: 200px;
}

nav {
    text-align: right;
}

.NavLink {
    text-align: right;
    background-color: #8f227c;
    /* width: 500px; */
    /* height: 300px; */
    border-radius: 50%;
    color: white;
    padding: 10px 20px 15px 20px;
    margin: 8px;
       
}

.curvenav {
    position: fixed;
    top: 0;
    left: 0;
}
/*navbar ends here*/
/* main header starts here*/
h2 {
    font-size: 20px;
}
/* main header ends here*/
/* body starts here*/
.catArt{
    display: flex;
    text-align: center;
    background-color: #a9d99a;
    width: 1420px;
    height: 220px;
    padding: 10px;
    margin: 30px 0 30px 30px;
}

.catArt p{
    background-color: beige;
    height:180px;
    margin: 10px;
    padding: 10px 10px 10px 0;
}

.catArt img{
    align-items: left;
}

.ruthCat{
    padding-right: 10px;
}

.catArt b{
    font-family: "Delicious Handrawn";
    font-size: xx-large;
}

.homeCats{
    text-align: right;  
    display: flex;
    text-align: center;
    background-color: #a9d99a;
    width: 1420px;
    padding: 10px;
    margin: 30px 0 30px 30px;  
}

.homeCats p{
    background-color: beige;
    margin: 10px;
    padding: 10px;
}

.homeCats img{
    align-items: left;
}

h1.a {font-family: "Audiowide", sans-serif;}
h1.b {font-family: "Sofia", sans-serif;}
h1.c {font-family: "Trirong", serif;}

/* body ends here*/
/* footer starts here*/
footer{
    background-color:#d99ace;
    margin-top: 30px;
    padding: 60px;
}