* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ninelivesnavbar {
    background-color: #d99ace;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;

}

.logoIcon {
    height: 150px;
    --webkit-filter: drop-shadow(3px 3px 1px #5a5a5a);
    filter: drop-shadow(3px 3px 5px #5a5a5a);
}

.websiteName {
    font-family: 'Delicious Handrawn', cursive;
    color: black;
    font-size: 50px;
    text-shadow: 2px 3px 4px #5a5a5a;
    display: flex;

    
}

.nav-list {
    list-style-type: none;
    color: white;
    
}

.nav-list .nav-links {
    display: inline-block;
    padding: 20px 10px; 
    background-color: #8f227c;
    border-radius: 50%;
    padding: 10px 20px 15px 20px; 
    font-family: cursive;
    margin: 8px;
    box-shadow: 2px 3px 2px #400e38;
    transition: all 0.3s ease-out;  
      
}

.ninelivesnavbar {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
    
}

.block {
    height: 200px;
}

.ninelivesnavbar a {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    background-color: white;
}    

.ninelivesnavbar a:hover {
    color: black 
}

.menu {
    display: none;
}
.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

/* Mobile screen responsive code for */
@media all and (max-width: 600px) {
    .ninelivesnavbar {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list {
        list-style-type: none;
        text-align: center;
        display: none;
    }

    .nav-list .nav-links {
        display: block;
    }
    
    .logoIcon {
        margin-top: -2px;
        margin-bottom: 10px;
        margin-left: 12px;
        height: 100px;
    }

    .websiteName {
        margin-bottom: 14px;
        margin-left: 16px;
    }
    .active {
        display: block;
        transition: all 0.3s ease-out;
        margin-bottom: 12px;
    }
}