h1{
    font-size: 30px;
    
}
input{
    margin-top: 20px;
}
.box{
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow:-1px 8px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow:-1px 8px 15px 0px rgba(0,0,0,0.5);
    box-shadow:-1px 8px 15px 0px rgba(0,0,0,0.5);

}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 .hero .button3{
    margin: 20px;
    color: black;
    font-size: 20px;
   
  
}